{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">

    <div class="container">

        <div class="row justify-content-between">

            <div class="col-sm-5 mt-5">
                {% if moderatorExist() == true %}
                    <div class="card">
                        <div class="m-1"><h4>Account Moderator</h4>
                            <p>email : <strong>moderator@mod.com</strong><br>
                                password : <strong>123456789</strong></p>
                        </div>
                    </div>
                {% endif %}
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}">

                    <button class="btn btn-lg btn-primary mt-2" type="submit">
                        Sign in
                    </button>
                </form>

                {% if moderatorExist() == false %}
                    <form action="/dev/moderator" method="post">
                        <div class="mt-5 p-5" style="background-color: #3dd5f3">
                            <h3>Créer un comte moderateur</h3>
                            <p>le compte moderateur permet d'utiliser un script qui ajoutera 150 articles aléatoires</p>
                            <button type="submit" class="btn btn-outline-danger">Ajouter un compte moderator</button>
                        </div>
                    </form>
                {% endif %}

            </div>

            <div class="col-sm-5 mt-5">
                <h4>Créer un nouvel utilisateur</h4>
                <form action="{{ path('user_register') }}" method="post">
                    {{ form_start(userForm) }}
                    <div class="form-group">
                        {{ form_label(userForm.email) }}
                        {{ form_widget(userForm.email) }}
                        <div class="alert-danger">{{ form_errors(userForm.email) }}</div>
                    </div>
                    <div class="form-group">
                        {{ form_label(userForm.password) }}
                        {{ form_widget(userForm.password) }}
                        <div class="alert-danger">{{ form_errors(userForm.password) }}</div>
                    </div>
                    <div class="form-group">
                        {{ form_label(userForm.name) }}
                        {{ form_widget(userForm.name) }}
                        <div class="alert-danger">{{ form_errors(userForm.name) }}</div>
                    </div>
                    <div class="form-group">
                        {{ form_label(userForm.surname) }}
                        {{ form_widget(userForm.surname) }}
                        <div class="alert-danger">{{ form_errors(userForm.surname) }}</div>
                    </div>
                    {{ form_row(userForm.save) }}
                    {{ form_end(userForm) }}
                </form>
            </div>

        </div>

    </div>
</form>
{% endblock %}
