{% extends 'base.html.twig' %}

{% block body %}
    {%  include('include/nav.html.twig') %}
    <div class="container">
        <div class="row justify-content-center">
            <dic class="col-sm-6">
                <h3>Ajouter un produit</h3>
                {{ form_start(productForm) }}
                <div class="form-group">
                    {{ form_label(productForm.name) }}
                    {{ form_widget(productForm.name) }}
                    <div class="alert-danger">{{ form_errors(productForm.name) }}</div>
                </div>

                <div class="form-group">
                    {{ form_label(productForm.imgMiniature) }}
                    {{ form_widget(productForm.imgMiniature) }}
                    <div class="alert-danger">{{ form_errors(productForm.imgMiniature) }}</div>
                </div>

                <div class="form-group">
                    {{ form_label(productForm.price) }}
                    {{ form_widget(productForm.price) }}
                    <div class="alert-danger">{{ form_errors(productForm.price) }}</div>
                </div>

                <div class="form-group">
                    {{ form_label(productForm.description) }}
                    {{ form_widget(productForm.description) }}
                    <div class="alert-danger">{{ form_errors(productForm.description) }}</div>
                </div>

                <div class="form-group form-check">
                    {{ form_widget(productForm.isOnline) }}
                    {{ form_label(productForm.isOnline) }}
                    <div class="alert-danger">{{ form_errors(productForm.isOnline) }}</div>
                </div>


                {{ form_end(productForm) }}
            </dic>
        </div>
    </div>
{% endblock %}
